@charset "utf-8";

.sub_cont > article{
    width:1200px;
    margin:20px auto;
/*    background-color:#ccc;*/
}

.sub_cont > article > h3{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding:20px 0px;
}

.sub_cont > article iframe{
    width:100%;
    border:none;
    height:800px;
    margin:0px auto;
    display: inline-block;
}























